<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/additional_styles.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2 play_paper">
          <a href="/paper" class="white">Go play paper!</a>
        </div>
        <div class="col-sm-offset-2 col-sm-2 play_rock">
          <a href="/rock" class="white">Go play rock!</a>
        </div>
        <div class="col-sm-offset-2 col-sm-2 play_scissors">
          <a href="/scissors" class="white">Go play scissors!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center welcome">Welcome to rock, paper, scissors! Make your selection above to begin to play.</h1>
        </div>
    </div>
</div>
